<!DOCTYPE html>
<html>
    <head>
        <title>Zapmos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </head>
    <body>
        <div class="view-container">
            <div class="header-container">
                <h1 class="title">
                    <span class="one">Zap</span> 
                    <span class="two">mos</span>
                </h1>
                <p class="description">A design project for RE2012.</p>
            </div>

            <div class="row highlight">
                    <h1 class="title">
                            <span>Our Analytics Dashboard</span> 
                        </h1>
                    <!-- <div class="col-md-12"> -->
                        <h2 class="date-outer">As of <span id="date"></span>, 
                    <!-- </h4> -->
                    <!-- </div> -->
                    <!-- <div class="col-md-12"> -->
                        <!-- <h2 class="count-outer">
                            Total count:  -->
                        <b>
                            <span id="count">

                            </span>
                        </b>
                        mozzies were zapped.
                    </h4>
                    <!-- </div> -->
                </div>
            <div class="chart-container">             
                <p>Date: <input type="date" id="datepicker"></p><button onclick="changeChart">choose</button>
                <canvas id="myChart"></canvas>
            </div>
        </div>

        <script>
            changeChart()=>{
                chosenDate=document.getElementById("datepicker")
                ylabel=//use chosenDate as key t0 load value
            }
            swal({
            title: "Mosquito Killed!",
            text: "Graph has been updated",
            icon: "success",
            button: "Ok!",
            });
            // <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            // <a class="next" onclick="plusSlides(1)">&#10095;</a>
            var socket = io.connect('10.27.77.252:4000'); //connect to server
            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'bar',
                // The data for our dataset
                data: {
                labels: ['9:00','10:00','11:00','12:00','13:00', '14:00','15:00'],
                datasets: [{
                    label: "Mosquitoes Zapped",
                    borderColor: "transparent",
                    data: [14,8,5,4,9,17,19], // for zap data
                    fill: false,
                    // pointStyle: 'circle',
                    backgroundColor: '#880606',
                    // pointRadius: 5,
                    // pointHoverRadius: 7,
                    // lineTension: 0,
                }]
                },
                // Configuration options go here
                options: {
                    legend: {
                        display: true,
                        labels: {
                            fontColor: '#ffffff',
                            fontFamily: "Lato",
                        }
                    },
                    scales: {
                        xAxes: [{ 
                            gridLines: {
                                display: false,
                            },
                            ticks: {
                            fontColor: "#ffffff", // this here
                            },
                        }],
                        yAxes: [{
                            // display: false,
                            gridLines: {
                                // display: false,
                                color: "#ffffff",
                            },
                            ticks: {
                                fontColor: "#ffffff", // this here
                                beginAtZero: true,
                            },
                        }],
                    }


                }
                
            });
            var ylabel = chart.data.labels
            socket.on('zap', data => { //As a zap data is received 
                document.getElementById('date').innerHTML = data.date; //update the date
                if(ylabel.length != 15) { //If we have less than 15 data points in the graph
                    if(parseInt(data.time.substr(0,2))!= parseInt(ylabel[ylabel.length-1].substr(0,2))){
                        ylabel.push(data.time.substr(0,2)+':00');  //Add time in x-axis
                    }
                    chart.data.datasets[0].data[ylabel.length-1]=data.zap;//Add zap in y-axis                     
                }
                else { //If there are already 15 data points in the graph.
                    chart.data.labels.shift(); //Remove first time data
                    chart.data.labels.push(data.time); //Insert latest time data
                    chart.data.datasets.forEach((dataset) => {
                        dataset.data.shift(); //Remove first zap data
                        dataset.data.push(data.zap); //Insert latest zap data
                    });
                }
                chart.update(); //Update the graph.
                var countArray = chart.data.datasets[0].data;
                var totalCount = countArray.reduce((total, num) => total + num);
                $("#count").html(totalCount);
                swal({
                title: "Mosquito Killed!",
                text: "Graph has been updated",
                icon: "success",
                button: "Aww yiss!",
                });
            });
            var today = new Date();
            var date = today.getDate()+"-"+4+"-"+today.getFullYear()
            $("#date").html(date)
            
            var countArray = chart.data.datasets[0].data;
            var totalCount = countArray.reduce((total, num) => total + num);
            $("#count").html(totalCount);

            if(totalCount>100){
                swal({
                title: "Mosquito Hotspot Detected!",
                text: "NEA has been alerted",
                icon: "error",
                button: "Ok",
                });
            }
            
        </script>


    </body>
    
    <style>
        body {
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            background-color:#1a1d31;
            color: white;
            width: 100%;
            overflow-x: hidden;
        }
        .header-container {
            padding-top: 120px;
            padding-bottom: 80px;
            width: 100%;
        }
        .title {
            font-weight: 500;
            letter-spacing: 0.1em;
            line-height: 1.5;
            font-size: 76px;
            padding-top: 20px;
            margin-bottom: 0px;
        }
        .description {
            font-family: Lato;
            padding-top: 10px;
            font-size: 1.2em;
            opacity: 0.7;
            padding-bottom: 50px;
        }
        @media only screen and (min-width: 768px) {
            .one {
                display: inline-block;  
                transform: translate(30px, -30px);
            }
            .two {
                display: inline-block;
                transform: translate(-30px, 50px);
            }
            .description {
                padding-top: 70px;
            }

        }
        .highlight {
            background-color: #880606;
            color: white;
        }
        /* .view-container {
            padding: 20px;
        } */
        .date-outer, .count-outer {
            /* font-family: Lato; */
            padding: 80px 20px 80px 20px;
            font-size: 18px;
            text-align: center;
            margin: unset;
            letter-spacing: 3px;
            line-height: 2;
        }
        .chart-container {
            position: relative; 
            margin: auto;
        }
        #count {
            font-size: 80px;
            color: #ffffff;
        }
        #myChart {
            margin: auto;
            margin-top: 100px;
            margin-bottom: 100px;
            max-width: 1000px;
            padding-left: 20px;
            padding-right: 20px;
        }

        @media only screen and (max-width: 768px) {
            .title {
                letter-spacing: 0.15em;
                line-height: 1.5;
                font-size: 28px;
            }
            .description {
                font-size: 14px;
            }
            .date-outer, .count-outer {
                font-size: 12px;
                margin: unset;

            }
            #count {
                font-size: 24px;
            }
            
        }

    </style>
</html>